$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;

.item-results {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-64;
}

.andes-card {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    border-radius: 6px;
    background-color: #fff;
}